<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" >
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-6" layout:fragment="content">
    <div class="panel panel-info">
        <div class="panel-heading">Conformation</div>
        <div class="panel-body">

            <div class="form-group">
                <label class="control-label">ID:</label>
                <label class="control-label" >[[ ${patient.id} ]]</label>

            </div>
            <div class="form-group">
                <label class="control-label">Nom:</label>
                <label class="control-label" >[[ ${patient.nom} ]]</label>

            </div>
            <div class="form-group">
                <label class="control-label">Date De Naissance:</label>
                <label class="control-label" >[[ ${patient.dateDeNaissance} ]]</label>

            </div>
            <div class="form-group">
                <label class="control-label">Score:</label>
                <label class="control-label" >[[ ${patient.score} ]]</label>

            </div>
            <div class="form-group">
                <label class="control-label">Malade:</label>
                <label class="control-label" >[[ ${patient.malade} ]]</label>

            </div>
            <div class="form-group">
                <a th:href="@{/patients/list}" class="btn btn-primary"> Return to list</a>

            </div>
        </div>
    </div>
</div>

</body>
</html>