<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout" >
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"/>
</head>
<body>
<section layout:fragment="content">
<div class="container mt-5">
<div class="card">
    <div class="card-header">
        List of patients
    </div>
    <div class="card-body">

        <form class="form-inline my-2 my-lg-0" th:action="@{/patients/list}">
            <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:value="${keyword}" name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a th:href="@{/patients/form}" class="btn btn-outline-secondary">Ajouter Patient</a>
            </div>
        </form>





        <table id="patientsTable" class="table">
            <tr>
                <th>ID</th> <th>Nom</th> <th>Date de naissance </th> <th>Score</th> <th>Malade</th>
            </tr>
            <tr th:each="p:${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.dateDeNaissance}"></td>
                <td th:text="${p.score}"></td>
                <td th:text="${p.malade}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:onclick="return confirm('Are you sure you want delete patient [[${p.nom}]]')" class="btn btn-danger" th:href="@{/patients/delete(id=${p.id},page=${currentPage},keyword=${keyword},size=${size})}"> Delete</a> </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/patients/edit(id=${p.id})}">Edit</a></td>

            </tr>
        </table>

        <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">

            <ul class="pagination">
                <li th:class="${currentPage==0?'page-item disabled':'page-item'}" class="page-item"><a  th:href="@{/patients/list(page=${currentPage - 1},keyword=${keyword},size=${size})}" class="page-link" href="#">Previous</a></li>
                <li  th:each="page,status:${pages}" class="page-item">
                    <a th:class=" ${status.index==currentPage?'page-link btn btn-primary':'btn'}" th:text="${status.index}" th:href="@{/patients/list(page=${status.index},keyword=${keyword},size=${size})}" ></a>
                </li>
                <li th:class="${pages.length - 1==currentPage?'page-item disabled':'page-item'}"><a class="page-link" th:href="@{/patients/list(page=${currentPage + 1},keyword=${keyword},size=${size})}">Next</a></li>
            </ul>

        </nav>
        </div>

        <div class="form-inline my-2 my-lg-0">
            <div class="form-group">
                show
                <select class="form-control mr-sm-2" name="size" th:value="${size}">
                    <option selected></option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
                entries
            </div>
        </div>
    </div>


</div>
</div>
</section>
</body>

</html>